body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;   
    background-image: url("../images/beach.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    color: #4a3024;
}

.small-text {
    font-size: 18px;
    color: #38241b;
}

.btn {
    min-width: 120px;
    padding: 11px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.brown-large {
    background-color: #ba8066;
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px;
}

.white-large {
background-color: #f2e6e1;
color: #6e5044;
text-align: center;
margin: 0;
padding: 3px;
}

.container-3 {
    display: flex;
    flex-direction: row;
}

.first, .third {
background-color: #ba8066;
padding: 3px;
margin: 0;
color: white;
text-align: center;
}

.second {
    background-color: #f2e6e1;
    padding: 3px;
    margin: 0;
    text-align: center;
    color: #6e5044;
}