body {
    background-color: skyblue;
}

.title {
    display: flex;
    justify-content: center;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white-container {
    display: flex;
    background-color: snow;
    min-height: 570px;
    min-width: 650px;
    border-radius: 7px;
    flex-flow: wrap column;
    justify-content: flex-start;
}

.tell-us {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.right {
    min-width: 250px;
    text-align: right;
    margin-right: 10px;
}

.left {
    text-align: left;
    min-width: 250px;   
}

.borders {
    border: 1px solid #b3b4b5;
    border-radius: 3px;  
}

.left-where {
    height: 30px;
}

#textarea {
    border-radius: 5px;
}

.btn {
    display: flex;
    justify-content: center;
}

.button {
    align-content: center;
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: royalblue;
    color: seashell;
    border: silver;
    border-radius: 7px;
}



